body {
    background-color: #f4f1e3;
}

.box {
    background-color: rgb(255, 252, 248);
    width: 1200px;
    height: 1300px;
    border-radius: 2%;
    padding: 10px;
    margin-left: 10%;
    margin-top: 1%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    font-size: 125%;
    background-color: rgb(181, 254, 214);
    text-align: center;
    justify-content: center;
    align-items: center;
}

a {
    padding: 20px;
    text-decoration: none;
}

a:link {
    color: rgb(107, 107, 107);
}

/* link que foi visitado */
a:visited {
    color: rgb(107, 107, 107);
}

/* mouse over */
a:hover {
    color: green;
    background-color: rgb(255, 254, 254, 0.5);
    border-radius: 10%;
}

/* link selecionado */
a:active {
    color: green;
}

.textoprincipal {
    margin: 80px 100px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 1%;
    text-align: justify;
    color: rgb(83, 83, 83);

}

.img {
    width: 80%;
}

.imgbutton {
    width: 100%;
    border-radius: 20%;
}

.button1 {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    transition: transform 0.3s ease-in-out;
    margin: 18px;
    box-shadow: none;
    outline: none !important;
    border-color: rgb(165, 254, 205);
    border: 500%;
}

.button1:hover {
    transform: scale(1.2);
}

h1 {
    color: green;
}

.abafinal {
    color: #402E9A;
    font-size: 25px;
    font-size: 125%;
    background-color: rgb(181, 254, 214);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bolder;
}

.logosala {
    width: 7%;
}